# Hello Python

#### 1. Buatlah 3 variabel yang masing-masing berisi
    
    a. Nama depan (string)
    
    b. Umur (integer)
    
    c. kota tinggal (string)

In [1]:
nama_depan = "Fatimah"
umur = 25
kota_tinggal = "Solo"

#### 2. Tampilkan semua variabel pada soal no 1 menjadi sebuah kalimat dengan menggunakan metode print()

In [2]:
#kerjakan soal no 2 pada bagian sel ini
#contoh keluaran yang diharapkan : "Nama saya adalah Thio, berusia 28 tahun dan tinggal di Bandung."

print(f"Nama saya adalah {nama_depan}, berusia {umur} tahun, dan tinggal di {kota_tinggal}")

Nama saya adalah Fatimah, berusia 25 tahun, dan tinggal di Solo

#### 3. Dengan menggunakan salah satu string method, ubah kata mangga pada variabel kalimat menjadi apel dan masukkan pada variabel kalimat_2 lalu print variabel kalimat_2

In [3]:
#soal no 3
kalimat = 'Budi menyukai buah mangga'
kalimat_2 = kalimat.replace('mangga','apel') #ubah mangga -> apel

print(kalimat_2) #print variabel kalimat_2

Budi menyukai buah apel

---

---

---

# Data Structure

#### 1. Lakukan 4 operasi aritmatika pada 2 variabel di bawah (tambah, kurang, kali, bagi), lalu simpan semua hasilnya didalam list dan tampilkan.

var_1 = 10

var_2 = 2

In [5]:
var_1 = 10
var_2 = 2

a = var_1+var_2
b = var_1-var_2
c = var_1*var_2
d = var_1/var_2

hasil = [a, b, c, int(d)]
print(hasil)

[12, 8, 20, 5]

#### 2. Dengan menggunakan index keluarkan nilai dari dua tuple di bawah

a. ('Budi', 'Rani', 'Indah', 'Ilham')

b. (20, 18, 22, 27)

dari tuple a keluarkan Rani, dan dari tuple B keluarkan 22. lalu tampilkan dengan print() sesuai format yang diharapkan

In [1]:
a = ('Budi','Rani','Indah','Ilham')
b = (20,18,22,27)

print(a[1])
print(b[2])
print(f'{a[1]} adalah mahasiswi yang berusia {b[2]} tahun')

Rani
22
Rani adalah mahasiswi yang berusia 22 tahun

#### 3. Cari kota asal dari user dengan data di bawah. Cari nilai uniknya/jangan sampai ada pengulangan.

data_dict = {'Rudi':'bandung', 'Nina':'jakarta', 'Mia':'semarang', 'Indah':'bandung', 'Salman':'surabaya', 'Mikail':'jakarta'}

In [2]:
data_dict = {'Rudi':'bandung',
             'Nina':'jakarta',
             'Mia':'semarang',
             'Indah':'bandung',
             'Salman':'surabaya',
             'Mikail':'jakarta'}
kota = data_dict.values()
set.union(set(kota))

{'bandung', 'jakarta', 'semarang', 'surabaya'}

#### 4. Gunakan metode slicing untuk mendapatkan hasil yang diharapkan

a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
...

In [8]:
a = ['1', '13b', 'aa1', 1.32, 22.1, 2.34]
a[1:5]

['13b', 'aa1', 1.32, 22.1]

#### 5. Gabungkan kedua list di bawah ini

a = [1, 3, 5]

b = [5, 1, 3]

In [9]:
a = [1, 3, 5]
b = [5, 1, 3]

b.extend(a)
b

[5, 1, 3, 1, 3, 5]

#### 6. Hilangkan elemen yang bernilai "bathroom" dan 10.50 lalu print kembali list areas

areas = ["hallway", 11.25, "kitchen", 18.0,
        "chill zone", 20.0, "bedroom", 10.75,
         "bathroom", 10.50, "poolhouse", 24.5,
         "garage", 15.45]

...

In [10]:
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, 
         "bathroom", 10.50, "poolhouse", 24.5, "garage", 15.45]
del areas[8:10]
areas

['hallway',
 11.25,
 'kitchen',
 18.0,
 'chill zone',
 20.0,
 'bedroom',
 10.75,
 'poolhouse',
 24.5,
 'garage',
 15.45]

#### 7.

***europe = {'spain':'madrid', 'france':'paris', 'germany':'bonn', 'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'australia':'vienna' }***


update nilai ibukota german ke berlin

.........

remove australia dari europa

........

print(europe)

In [11]:
europe = {'spain':'madrid', 
          'france':'paris', 
          'germany':'bonn', 
          'norway':'oslo', 
          'italy':'rome', 
          'poland':'warsaw', 
          'australia':'vienna' }
europe.update({'germany':'berlin'})
del europe['australia']

europe

{'spain': 'madrid',
 'france': 'paris',
 'germany': 'berlin',
 'norway': 'oslo',
 'italy': 'rome',
 'poland': 'warsaw'}

#### 8.
Cari semua nilai yang sama dari kedua list berikut ini. Print dalam bentuk list


a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]

b = [1,3,5,7,9,11,13,15,17,19,21,23]

In [12]:
a = [1,4,24,53,67,45,23,4,7,8,2,9,6,10,19,20,23,13,19]
b = [1,3,5,7,9,11,13,15,17,19,21,23]

c = list(set(a).intersection(set(b)))
c

[1, 7, 9, 13, 19, 23]

---

---

---

# Logic Control Flow and Iteration

#### 1. Keluarkan dan tampilkan menggunakan print semua anggota list pada sel dibawah

In [13]:
data_list = ['bandung', 'jakarta', 'semarang', 'palembang']
for data in data_list:
    print(data)

bandung
jakarta
semarang
palembang

#### 2. Keluarkan dan tampilkan menggunakan metode print anggota list dengan tipe numerik (int & float) dari list pada sel di bawah

In [14]:
data_list_2 = [100, 'makassar', 15.5, True, "20"]
for i in data_list_2:
    if type(i)==int or type(i)==float:
        print(i)

100
15.5

#### 3. Buat sebuah kode if else yang dapat menyatakan apakah suatu bilangan ganjil atau genap.

In [15]:
number = 9

#hint
'''
if ... :
    print(...)
else ...:
    print(...)
'''
#hasil yang diharapkan
#ganjil

if number%2 == 1:
    print("Ganjil")
else:
    print("Genap")

Ganjil

#### 4. Kalikan semua anggota list_1 terhadap anggota ganjil pada list_2. tampilkan hasilnya

In [16]:
list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]

list_1 = [1,2,3,4,5]
list_2 = [2,3,6,8,9]
for i in list_1:
    for j in list_2:
        if j%2 == 1:
            a = i*j
            print(a)

3
9
6
18
9
27
12
36
15
45

#### 5. lakukan pengecekan apakah terdapat angka pada tiap2 anggota list. lalu tampilkan sesuai format yang diminta

In [17]:
data_list_3 = ['asda8asd', 'bandunglautanapi', 'washingt0nDC']

for data in data_list_3:
    if any([i.isdigit() for i in data]):
        print(data,'memiliki angka')
    else:
        print(data,'tidak memiliki angka')

asda8asd memiliki angka
bandunglautanapi tidak memiliki angka
washingt0nDC memiliki angka

#### 6. Cari siswa mana saja yang memiliki nilai lebih dari sama dengan 80. Masukkan kedalam sebuah list. print hasilnya

In [18]:
data_siswa = [
    {
        "nama":"Budi",
        "nilai": 90
    },
    {
        "nama":"Nina",
        "nilai": 78
    },
    {
        "nama":"Rudi",
        "nilai": 91
    },
    {
        "nama":"Olivia",
        "nilai": 76
    },
    {
        "nama":"Leo",
        "nilai": 80
    },
    {
        "nama":"Liam",
        "nilai": 67
    },
    {
        "nama":"Sheila",
        "nilai": 76
    }
]

a = []
for data in data_siswa:
    if data['nilai'] >= 80:
        a.append(data['nama'])
print(a)

['Budi', 'Rudi', 'Leo']

---

---

---

# Function & Method

#### 1. Buatlah sebuah fungsi di python yang memerlukan dua argument, nama dan usia. Lalu menampilkan dua argument tersebut saat fungsi dipanggil

In [20]:
def func1(name,age):
    print(name, age)
    
func1("Rina",20)

Rina 20

#### 2. Buatlah fungsi yang bisa melakukan print semua parameter/argument yang menjadi inputan. Fungsi tersebut harus bisa menerima berapapun argument yang dimasukkan tanpa error.

In [21]:
def func2(*nilai):
    for i in nilai:
        print(i)
func2(1,2,3)

1
2
3

In [22]:
def func1(*nilai):
    for i in nilai:
        print(i)
func1(1,2,3,4,5,6)

1
2
3
4
5
6

#### 3. Buatlah sebuah fungsi yang dapat mencari jumlah total dari anggota pada list. Syarat pengerjaan:
     - tanpa menggunakan loop/iterasi
     - manfaatkan fungsi lambda

list_nilai = [23,17,5,8,25,15]

In [23]:
list_nilai = [23,17,5,8,25,15]
func3 = lambda x : sum(x)
func3(list_nilai)

93

#### 4. Buatlah sebuah fungsi yang dapat mencari nilai yang lebih besar/sama dengan 80 dari anggota pada list. Syarat pengerjaan:
     - tanpa menggunakan loop/iterasi
     - manfaatkan fungsi lambda
     - ouput merupakan list

nilai_siswa = [67,89,80,67,25,92]

In [24]:
nilai_siswa = [67,89,80,67,25,92]
def func4(*nilai):
    print(list(filter(lambda x : x >= 80,*nilai)))

func4(nilai_siswa)

[89, 80, 92]

#### 5. Buatlah sebuah fungsi untuk mengecek apakah suatu string palindrom atau bukan

kata_1 = "makam"
kata_2 = "makan"

In [25]:
kata_1 = "makam"
kata_2 = "makan"
def test_palindrom(kata):
    test = kata[::-1] 
    if kata == test:
        print (kata,'merupakan paliandrom')
    else:
        print (kata,'bukan merupakan paliandrom')

test_palindrom(kata_1)
test_palindrom(kata_2)

makam merupakan paliandrom
makan bukan merupakan paliandrom

---

---

---

# Object Oriented Programming

#### 1. Buatlah sebuah class dengan nama class = Kendaraan,  tanpa variabel, attribute dan methods

In [26]:
class kendaraan:
    pass

#### 2. Buatlah sebuah class dengan nama class = Kendaraan, yang memiliki atribut instance kecepatan_maksimum dan jarak_tempuh

In [27]:
class Kendaraan:
    def __init__(model_1,kecepatan_maksimum,jarak_tempuh):
        model_1.kecepatan_maksimum = kecepatan_maksimum
        model_1.jarak_tempuh = jarak_tempuh

model_1 = Kendaraan(240,10)
print(model_1.kecepatan_maksimum,model_1.jarak_tempuh)

240 10

#### 3. Buatlah sebuah class dengan nama Tesla yang bersifat inheritance/turunan dari class mobil

In [28]:
class Mobil:
    def __init__(self, nama, warna, bahan_bakar):
        self.nama = nama
        self.warna = warna
        self.bahan_bakar = bahan_bakar 
        
class Tesla(Mobil):
    pass

model_x = Tesla("model x","perak","listrik")
print(f"Nama Mobil: {model_x.nama}, Warna: {model_x.warna}, Bahan Bakar: {model_x.bahan_bakar}")

Nama Mobil: model x, Warna: perak, Bahan Bakar: listrik

#### 4. Buatlah sebuah class dengan ketentuan:
    - memiliki nama Aritmatika
    - instance atribut/input untuk class adalah dua integer
    - memiliki metode yang bernama add yang menampilkan hasil penjumlahan instance atribut/inputan class

In [29]:
class Aritmatika : 
    def __init__(self,a,b):
        self.a = a
        self.b = b
    def add (self):
        print (self.a+self.b)
    
        
model_hitung = Aritmatika(4,10)
model_hitung.add()

14